<p-growl [(value)]="growlService.messages" immutable="true"></p-growl>
<p-confirmDialog></p-confirmDialog>

<header class="title-gradient">
  <div class="content-left content-side">
    <img src="./assets/anl_logo_new.min.png"/>
  </div>


  <div>
  <div class="content-right content-side">
    <div *ngIf="authenticationService.loggedIn">
      Welcome {{authenticationService.username}} <br/>
      <button (click)="authenticationService.logout()"
              pButton
              icon="fa-sign-out"
              label="Logout">
      </button>
    </div>
  </div>

  <div class="content-center">
    <h1>
      {{title}}
    </h1>
  </div>

  </div>
</header>

<div class="login-div" *ngIf="!authenticationService.loggedIn">
  <form #f="ngForm" (submit)="authenticationService.loginUser()">
    <p-panel header="Login">
      <label for="usernameInput">Username</label>
      <input id="usernameInput"
             name="usernameInput"
             type="text"
             [(ngModel)]="authenticationService.authUser"
             class="full-parent-width" pInputText required>

      <label for="passwordInput">Password</label>
      <input id="passwordInput"
             name="passwordInput"
             type="password"
             [(ngModel)]="authenticationService.authPass"
             class="full-parent-width" pInputText required>

      <br/><br/>

      <button type="button"
              type="submit"
              pButton
              icon="fa-sign-in"
              label="Login">
      </button>
    </p-panel>
  </form>

</div>

<p-tabView *ngIf="authenticationService.loggedIn">
  <p-tabPanel header="Status">
    <process-nodes></process-nodes>

    <br/>

    <job-list [jobsValue]="queuedJobs"
              [listTitle]="'Queued Jobs'"></job-list>

    <br/>

    <job-list [jobsValue]="processingJobs"
              [listTitle]="'Processing Jobs'"></job-list>

    <br/>

    <job-list [jobsValue]="finishedJobs"
              [listTitle]="'Finished Jobs'"
              [displayCancelJob]="false"></job-list>
  </p-tabPanel>
  <p-tabPanel header="Submit XRF Job"
              lazy="true">
    <xrf-job></xrf-job>
  </p-tabPanel>

  <p-tabPanel header="Submit Ptychography Job"
              lazy="true">
    <ptychography-job></ptychography-job>
  </p-tabPanel>

</p-tabView>

<footer>
  <div class="footer-contents">
    <img src="./assets/doe_sc_logo.png" />
  </div>
</footer>
