<p-growl [(value)]="growlService.messages" immutable="true"></p-growl>

<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<p-tabView>
  <p-tabPanel header="Status">
    <div *ngIf="processNodes">
      <p-dataTable [value]="processNodes.data"
                   [responsive]="true">
        <p-header>List of Process Nodes</p-header>
        <p-column field="ComputerName" header="Computer Name"></p-column>
        <p-column field="Status" header="Status"></p-column>
        <p-column field="NumThreads" header="Max Threads"></p-column>
        <p-column field="SystemCpuPercent" header="CPU Usage %"></p-column>
        <p-column field="SystemMemPercent" header="Memory Usage %"></p-column>
        <p-column field="SystemSwapPercent" header="Swap Usage %"></p-column>
        <p-column field="Heartbeat" header="Heartbeat"></p-column>
        <p-column field="SupportedSoftware" header="Software"></p-column>
      </p-dataTable>
    </div>

    <br/>

    <job-list [jobsValue]="queuedJobs"
              [listTitle]="'Queued Jobs'"></job-list>

    <br/>

    <job-list [jobsValue]="processingJobs"
              [listTitle]="'Processing Jobs'"></job-list>

    <br/>

    <job-list [jobsValue]="finishedJobs"
              [listTitle]="'Finished Jobs'"></job-list>
  </p-tabPanel>
  <p-tabPanel header="Submit XRF Job"
              lazy="true">
    <xrf-job></xrf-job>
  </p-tabPanel>

</p-tabView>
