<p-growl [(value)]="growlService.messages" immutable="true"></p-growl>
<p-confirmDialog></p-confirmDialog>

<header class="title-gradient">
  <div class="content-left content-side">
    <img src="./assets/anl_logo_new.min.png"/>
  </div>


  <div>
  <div class="content-right content-side">

  </div>

  <div class="content-center">
    <h1>
      {{title}}
    </h1>
  </div>

  </div>
</header>

<p-tabView>
  <p-tabPanel header="Status">
    <process-nodes></process-nodes>

    <br/>

    <job-list [jobsValue]="queuedJobs"
              [listTitle]="'Queued Jobs'"></job-list>

    <br/>

    <job-list [jobsValue]="processingJobs"
              [listTitle]="'Processing Jobs'"></job-list>

    <br/>

    <job-list [jobsValue]="finishedJobs"
              [listTitle]="'Finished Jobs'"
              [displayCancelJob]="false"></job-list>
  </p-tabPanel>
  <p-tabPanel header="Submit XRF Job"
              lazy="true">
    <xrf-job></xrf-job>
  </p-tabPanel>

  <p-tabPanel header="Submit Ptychography Job"
              lazy="true">
    <ptychography-job></ptychography-job>
  </p-tabPanel>

</p-tabView>

<footer>
  <div class="footer-contents">
    <img src="./assets/doe_sc_logo.png" />
  </div>

</footer>
